.class-officers-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 120px;
  position: relative;
  margin-bottom: -240px;
}

.class-officers-header h1 {
  font-size: 60px;
  margin-bottom: 10px;
}
.class-officers-header img {
  width: 280px;
}

.class-officers-header-text{
    position: relative;
    margin-bottom: -125px;
    margin-left: -35px;
}

.class-officers-list {
  background-color: #fbeef8;
  padding: 240px 20px 50px;
  margin: 30px auto;
  border-radius: 20px;
  width: 80%;

}

.class-officers-list-col1 {
  display: grid;
  grid-template-columns: repeat(2, 300px);
  justify-content: center;
  row-gap: 60px;
  column-gap: 60px;
}

.class-officers-list-col2 {
  margin-top: 60px;
  margin: 60px 40px 0;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, 30%);
  row-gap: 60px;
  column-gap: 60px;
  justify-content: center;
}

.officer-name {
  width: 200px;
}

.officer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.officer img {
  width: 80px;
  margin-right: 10px;
}

.officer p {
  width: 100%;
}

.class-list-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 30px;
  position: relative;
  margin-bottom: -220px;
}

.class-list-header img {
  height: 350px;
  margin-right: 20px;
}

.class-list-header h1 {
  font-size: 60px;
  position: relative;
  margin-bottom: -30px;
}

.class-list-column {
  display: grid;
  justify-content: center;
  margin-bottom: 30px;
  grid-template-columns: repeat(3, 30%);
  grid-gap: 10px;
}

.student-wrapper {
  background-color: #fdf9f7;
  padding: 40px;
  margin-bottom: 60px;
  padding-top: 245px;
  margin: 0 auto 60px;
  width: 80%;
  border-radius: 20px;
}

.student {
  display: flex;
  align-items: center;
  margin: 10px;
  justify-content: center;
}

.student img {
  width: 80px;
  margin-right: 10px;
}

.student p {
  width: 200px;
}

.officerresp {
  display: none;
}

@media only screen and (max-width: 1000px) {
  .class-officers-list,
  .student-wrapper {
    width: 90%;
  }
}

@media only screen and (max-width: 870px) {
  .class-officers-list,
  .student-wrapper {
    width: 92%;
  }
  .class-officers-list-col2 {
    grid-template-columns: repeat(2, 45%);
  }

  .class-officers-list-col1 {
    grid-template-columns: repeat(2, 45%);
    margin: 0 40px 0;
  }

  .officer-name {
    width: 125px;
  }

  .class-officers-list-col1 .officer {
    display: none;
  }

  .officerresp {
    display: flex;
  }
  

  .class-list-column {
    grid-template-columns: repeat(2, 45%);
  }

  .class-officers-list {
    margin-top: 20px;
  }

  .class-officers-header img{
      width: 260px;
  }

  .class-officers-header h1{
      font-size: 50px;
  }

  .class-officers-header{
      margin-bottom: -215px;
  }

  .class-officers-list{
      padding-top: 175px;
  }

  .class-officers-header-text{
      margin-left: -70px;
  }

.student-wrapper{
    background-color: #FBF6F3;
}
}

@media only screen and (max-width: 600px) {
  .class-officers-list-col2 {
    grid-gap: 10px;
    margin: 60px 0px 0;
  }
  .class-officers-list-col2 {
    margin-top: 20px;
  }

  .officer p {
    width: 70px;
  }

  .officer-name h2 {
    font-size: 20px;
  }

  .class-officers-list{
      padding-top: 200px;
  }

  .class-officers-header h1{
      font-size: 32px;
  }

.class-officers-header img{
    width: 200px;
}

.class-officers-list{
    padding-top: 150px;
    padding-left: 0;
    padding-right: 0;
}

.class-officers-header{
    margin-bottom: -170px;
    margin-top: 100px;
}

  .class-list-header h1 {
    font-size: 40px;
  }

  .student p {
    width: 100px;
  }

  .student {
    margin: 0;
  }

  .student-wrapper {
    padding: 215px 0 40px;
  }

  .class-list-header img {
    height: 270px;
  }

  .class-list-header {
    margin-bottom: -175px;
  }
}

@media only screen and (max-width: 450px) {
  .officer img,
  .student img {
    width: 60px;
  }

  .officer-name h2 {
    font-size: 18px;
  }

  .officer-name p {
    font-size: 15px;
  }

  .student p {
    font-size: 15px;
  }

  .class-list-header img{
      margin-right: 0;
  }

  .class-list-header h1 {
    margin-left: -20px;
}


@media only screen and (max-width: 420px){
    .class-officers-header h1{
        font-size: 26px;
    }
}

@media only screen and (max-width: 380px) {
  .student p {
    font-size: 12px;
  }

  .officer-name p {
    font-size: 14px;
  }

  .officer-name h2 {
    font-size: 15px;
  }

  .officer img,
  .student img {
    width: 55px;
  }

  .class-list-header h1{
      font-size: 32px;
  }
}
